/* ------------------ Woocommerce Frontend ------------------*/

li.woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link--settings a:before {
    content: "\f111";
}

.ui-accordion-header {
    background: #fbfbfb;
    padding: 4px 0 4px 9px;
    border-bottom: 1px solid #f1eaef;
    cursor: pointer;
    color: #96588a;
}

.ui-accordion-content{
    padding: 10px;
}

#alphanumeric_list{
    padding: 5px;
}

/* ---------------- Spinner -------------------*/

.spinner {
    margin: 20px auto;
    width: 70px;
    text-align: center;
}

.spinner > div {
    width: 18px;
    height: 18px;
    background-color: #96588a;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% {
          -webkit-transform: scale(1.0);
          transform: scale(1.0);
      }
}